<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CZECHMATE Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CZECHMATE.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CZECHMATEWidgets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CZECHMATE_W Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB20561E2F838A5E00CAFA19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB2057302F838A6200CAFA19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95D1DD2F8CCF68006A3F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95D1E92F8CCF6A006A3F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB95D1F32F8CCF6A006A3F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
